/* Write some CSS below */
body {
	font-family: 'Caveat', cursive;;
	font-size: 25px;
	background-color: rgb(230,230,230);
	color: rgb(30,30,30);
	margin: 0px;
}
h1, h2 {
	font-family:'Permanent Marker';
	text-align: center;
} 

h2 {
	margin-bottom: 70px;
}

h3 {
	font-family: 'Caveat', cursive;
	text-align: center;
}
h4 {
	color: black;
	text-decoration: underline;
}


a {
	text-decoration: none;
}


.banner {
	background-image: url(images/Brousse.jpg);
	background-size: cover;
	background-position: center;
	font-family: Dancing Script, cursive;
	text-align: center;
	color: white;
	padding: 100px 0px;
	text-stroke: 50px;
	text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}

.banner h3{
	background-color: rgb(0, 0, 0,.7);
	color: #ffffff;
	font-size: 60px;
	line-height: 40px;
	width: 450px;
	text-align: center;
	transform-origin: bottom left;
	transform: translate(20px,100px) rotate(-45deg);
}

.btn-yellow {
	background-color: #558401;
	padding: 10px 45px;
	color: white;
	font-family: 'Caveat', cursive;
	font-size: 25px;
	border-radius: 4px;
	margin-top: 30px;
}

.btn-yellow:hover {
	opacity: 0.8;
}

.container {
	width: 900px;
	margin: auto;
	text-align: center;

}
.cards {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-gap: 16px;
	}

.card-white img {
	width: 200px;
	height: 200px;
	object-fit: cover;
	border-radius: 200px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
}

.card-white {
	background-color: white;
	text-align: center;
	width: 220px;
	padding: 24px;
	margin-bottom: 4px;
	box-shadow: 0px 0px 8px rgba(0,0,0,O.1);
	border-radius: 200px;
}

.programs {
	width: 1000px;
	margin: auto;
	text-align: center;
	margin-top: 100px;
	margin-bottom: 50px;

	
}

.program-cards {

}

.program-item {
	width : 1000px;
	background-color: white;
	border-radius: 4px;
	height: 180px;
	box-shadow: 0px 0px 8px rgba(0,0,0,O.1);
}

.program-item img{
	width: 150px;
	height: 150px;
	object-fit: cover;
	border-radius: 200px;
	float: left;
	margin-top: 15px;
	margin-bottom: 15px;
	margin-left: 15px;
	box-shadow: 0px 0px 8px rgba(0,0,0,0.7);
	

}
.text {
	width: 800px;
	margin-left: 175px;
}



.footer {
	background-color: rgb(0, 0, 0, .7);
	font-family: ;
	text-align: center;
	padding: 16px;
	margin-top: 16px;
	color: white;
}






